<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/chatPage.css">
</head>
<body>
  <header>
    <div id="room_setting">
      <img src="/images/settings.png" alt="">
    </div>
    <div id="room_title">
      <h1><%= roomTitle %></h1>
    </div>
    <div id="small_avatar">
      <img src=<%= userAvatar %> alt="">
    </div>
    <div class="settings_block">
      <div class="add_people">Add people</div>
      <div class="delete_channel">Leave current channel</div>
    </div>
  </header>
  <div class="background_img"></div>
  <div class="content">
    <div class="side_pad">
      <div class="upper_section">
        <div class="room_header">
          <p>Channels</p>
          <input class="add_room" type="button">
        </div>
        <div class="rooms">
          <% for (let i = 0; i < rooms.length; i++) { %>
            <div class="room_title" id=channelId_<%= rooms[i].id%>>
              <p><%= rooms[i].name %></p>
            </div>
          <% } %>
        </div>
      </div>
      <div class="lower_section">
        <span id="displayId" style="color: #FFFFFF"></span>
        <input id="connId" type="text">
        <input class="launchVideo" type="button" value="start">
        <input id="callVideo" type="button" value="call">
        <video playsinline autoplay id="localVideo"></video>
        <video playsinline autoplay id="remoteVideo"></video>
      </div>
    </div>
    <div class="chat_content">
      <div id="chat_area">
        <div id="message_flow_area"></div>
        <div id="message_input">
          <input id="message_window" type="text" placeholder="Type message ...">
          <input id="send_image" type="file" accept="image/*">
          <label for="send_image">
            <img class="send_img_msg_icon" src="/images/file.png" alt="">
          </label>
          <input id="send_btn" type="image" src="/images/sendMsg.png">
        </div>
      </div>
      <div id="resize"></div>
      <div id="draw_area">
        <div class="draw_option">
          <div class="color_options">
            <div class="red_block"></div>
            <div class="orange_block"></div>
            <div class="green_block"></div>
            <div class="blue_block"></div>
            <div class="black_block"></div>
          </div>
          <div class="tool_area">
            <div class="eraser">
              <p>eraser</p>
            </div>
            <div class="clear_btn">
              <p>clear all</p>
            </div>
            <div class="download_btn">
              <a href="">download image</a>
            </div>
          </div>
        </div>
        <canvas id="canvas" width="2000px" height="2000px">You browser not supported</canvas>
      </div>
    </div>
  </div>
  <!-- Modal Div -->
  <div id="addRoomModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="title_area">
        <h3>Create a channel</h3>
        <span class="close">&times;</span>
      </div>
      <p class="enter_channel_name_mention">please enter channel name</p>
      <input class="enter_channel_name" type="text" placeholder='channel name'>
      <p class="enter_people_name_mention">invite people to this channel</p>
      <!-- 會員下拉式選單 -->
      <div class="select-box">
        <div class="options-container">
          <% for (let i = 0; i < allUsers.length; i++) { %>
            <div class="option">
              <input type="radio" class="radio" name="user" id=userId_<%= allUsers[i].userId%>>
              <label for=userId_<%= allUsers[i].userId%>><%= allUsers[i].name%></label>
            </div>
          <% } %>
        </div>
        <div class="selected">
          <p>select member</p>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      </div>
      <input class="confirm_button" type="button" value="confirm">
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
  <script type="text/javascript">
    let currentUserDetail = <%- JSON.stringify(currentUserDetail) %>;
    let currentSelectedRoom = {
      roomId: currentUserDetail.lastSelectedRoomId,
      roomTitle: currentUserDetail.lastSelectedRoomTitle
    }
    let allRooms = <%- JSON.stringify(allRooms)%>;
  </script>
  <script src="/javascripts/common.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/resizeBorder.js"></script>
  <script src="/javascripts/modalPopup.js"></script> 
  <!-- 使用者按下左上方的設定相關的 js -->
  <script src="/javascripts/setting.js"></script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/startVideo.js"></script>
  <script src="/javascripts/launchVideo.js"></script>
  <script src="/javascripts/receiveVideo.js"></script>
</body>
</html>