<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatvas</title>
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/chatPage.css">
  <link rel="stylesheet" href="/stylesheets/customConfirm.css">
  <link rel="icon" type="image/png" href="/images/chatvas.png" alt="">
</head>
<body>
  <!-- <div class="header">
    <span>Chatvas</span>
    <img src="/images/menu.png" alt="">
  </div> -->
  <%- include('./toggleHeader.ejs');%>
  <div class="content">
    <div class="side_pad">
      <div class="back_Namespace_btn">
        <img src="/images/backNamespace.png" alt="">
        <p>Back to choose your organization</p>
      </div>
      <div class="upper_section">
        <div class="wrapper">
          <img class="search-icon" src="/images/search.png" alt="">
          <input class="search" placeholder="Search" type="text" >
        </div>  
        <div class="room_header">
          <p>Channels</p>
          <img class="add_room" src="/images/addRoom.png" alt="">
        </div>
        <div class="rooms">
          <% for (let i = 0; i < rooms.length; i++) { %>
            <% if (currentUserDetail.lastSelectedRoomId === rooms[i].roomId) { %>
              <div class="room_title selectedRoomUI" id=channelId_<%= rooms[i].roomId%>>
                <div class="decoration_bar"></div>
                <p><%= rooms[i].name %></p>
              </div>  
            <% } else { %> 
              <div class="room_title" id=channelId_<%= rooms[i].roomId%>>
                <div class="decoration_bar"></div>
                <p><%= rooms[i].name %></p>
              </div>  
              <% } %>
          <% } %>
        </div>
      </div>
      <!-- <div class="lower_section"> -->
        <!-- <span id="displayId" style="color: orange"></span> -->
        <!-- <input id="connId" type="text"> -->
      <!-- </div> -->
    </div>
    <div class="chat_content">
      <div class="roomTitleRegion">
        <div id="room_title">
          <p><%= roomTitle %></p>
        </div>
        <div id="function_area">
          <img class="launchVideo" src="/images/video.png" alt="">
          <img class="room_setting" src="/images/settings.png" alt="">
          <div class="settings_block">
            <div class="corner_decoration"></div>
            <div class="add_people">
              <p>Add people</p>
            </div>
            <div class="delete_channel">
              <p>Leave current channel</p>
            </div>
            <div class="corner_decoration"></div>
          </div>
        </div>
      </div>
      <div id="chat_area">
        <%- include('./loader.ejs'); %>
        <div id="message_flow_area"></div>
        <div id="message_input">
          <div class="decorationInput">
            <textarea name="" id="message_window" cols="30" rows="1" placeholder="Type message ..."></textarea>
            <div class="send_message_btns">
              <input id="send_image" type="file" accept="image/*">
              <label for="send_image">
                <img class="send_img_msg_icon" src="/images/file.png" alt="">
              </label>
              <input id="send_btn" type="image" src="/images/sendMsg.png">
            </div>
          </div>
        </div>
      </div>
      <div id="resize">
        <span class="open_draw_area">Drag to open whiteboard</span>
        <img src="/images/drag.png" alt="">
      </div>
      <div id="draw_area">
        <div class="draw_option">
          <div class="color_options">
            <div class="red_block"></div>
            <div class="orange_block"></div>
            <div class="green_block"></div>
            <div class="blue_block"></div>
            <div class="black_block"></div>
          </div>
          <div class="tool_area">
            <div class="eraser">
              <img src="/images/eraser.png" alt="">
            </div>
            <div class="clear_btn">
              <img src="/images/clearAll.png" alt="">
            </div>
            <div class="download_btn">
              <a href="">
                <img src="/images/download.png" alt="">
              </a>
            </div>
          </div>
        </div>
        <canvas id="canvas" width="2000px" height="2000px">You browser not supported</canvas>
      </div>
    </div>
  </div>
  <!-- toggle profile -->
  <div id="toggle_list">
    <div id="profile_area">
      <div class="container">
        <img class="avatar_img" src=<%= userAvatar %> alt="">
        <div class="toggle_camera">
          <label for="avatarSelection">
            <img src="/images/camera.png" alt="">
          </label>
          <input hidden id="avatarSelection" type="file" accept="image/*">
        </div>
      </div>
      <div class="user_name">
        <p><%= currentUserDetail.name %></p>
        <img src="/images/edit.png" alt="">
      </div>
      <div class="basic_info">
        <div class="email">
          <img src="/images/email.png" alt="">
          <p class="user_email"><%= currentUserDetail.email %></p>
        </div>
        <div class="language_selected_box">
          <div class="language-options-container">
            <div class="option">
              <input type="option" class="radio" id="en" name="language">
              <label for="en">English</label>
            </div>
            <div class="option">
              <input type="option" class="radio" id="zh-TW" name="language">
              <label for="zh-TW">繁體中文</label>
            </div>
            <div class="option">
              <input type="option" class="radio" id="ja" name="language">
              <label for="ja">Japanese</label>
            </div>
            <div class="option">
              <input type="option" class="radio" id="es" name="language">
              <label for="es">Spanish</label>
            </div>
          </div>
          <div class="language">
            <img src="/images/language.png" alt="">
            <p class="user_language"><%= userLanguage %></p>
            <img class="edit_icon" src="/images/downArrow.png" alt="">
          </div>
        </div>
      </div>
      <div class="sign_out">
        <p>Sign out</p>
      </div>
    </div>
    <div id="decoration_line"></div>
    <div id="online_members">
      <% for (let i = 0; i < usersOfRoom.length; i++) { %>
        <div class="room_member" id=roomMember_<%= usersOfRoom[i].userId%>>
          <div class="small_circle"></div>
          <p><%= usersOfRoom[i].name %></p>
        </div>
      <% } %>
    </div>
  </div>
  <!-- Modal Div -->
  <div id="addRoomModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="title_area">
        <h3>Create a channel</h3>
        <span class="close">&times;</span>
      </div>
      <p class="enter_channel_name_mention">please enter channel name</p>
      <input class="enter_channel_name" type="text" placeholder='channel name'>
      <p class="enter_people_name_mention">invite people to this channel</p>
      <!-- 會員下拉式選單 -->
      <div class="select-box">
        <div class="options-container">
        </div>
        <div class="selected">
          <p>select member</p>
        </div>
        <div class="search-box">
          <input type="text" placeholder="Start Typing..." />
        </div>
      </div>
      <input class="confirm_button" type="button" value="confirm">
    </div>
  </div>
  <!-- video popup -->
  <div class="videoPopup">
    <div class="shrink">
      <input type="image" id="shrink_video_screen" src="/images/shrinkScreen.png">
    </div>
    <div class="main_area">
      <video playsinline autoplay id="localVideo"></video>
      <video playsinline autoplay id="remoteVideo"></video>
      <div class="video_button_area">
        <!-- 可以切換先不做 -->
        <!-- <input class="changeMode" type="image" src="/images/changeMode.png"> -->
        <!-- <div class="call">
          <input type="image" src="/images/openCamera.png">
          <span>Camera</span>
        </div> -->
        <div id="callVideo">
          <input type="image" src="/images/call.png">
          <span>Call</span>
        </div>
        <div id="hangup">
          <input type="image" src="/images/closeVideo.png">
          <span>Hang up</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 跳出是否要接視訊的聯絡視窗 -->
  <!-- freezeLayer 是 confirm 視窗出現時要讓後面整個都不能點 -->
  <div id="freezeLayer" class="freeze-layer" style="display: none;"></div>
  <div id="dialogCont" class="dlg-container">
    <div class="dlg-header">Call mention</div>
    <div id="dlogBody" class="dlg-body">
    </div>
    <div class="dlg-footer">
      <a id="dlg_accept_btn">OK</a>
      <a id="dlg_cancel_btn">Cancel</a>
    </div>
  </div>
  <%- include('./customAlert.ejs'); %>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  <script src="https://unpkg.com/peerjs@1.0.0/dist/peerjs.min.js"></script>
  <!-- <script src="/javascripts/peer.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/peerjs/1.0.0/peerjs.min.js"></script> -->
  <script src="/javascripts/customAlert.js"></script>
  <script type="text/javascript">
    let currentNamespaceId = <%- currentNamespaceId %>;
    let currentUserDetail = <%- JSON.stringify(currentUserDetail) %>;
    let currentSelectedRoom = {
      roomId: currentUserDetail.lastSelectedRoomId,
      roomTitle: currentUserDetail.lastSelectedRoomTitle
    }
    let allRooms = <%- JSON.stringify(allRooms)%>;
    let usersOfRoom = <%- JSON.stringify(usersOfRoom)%>;
    let allUsers = <%- JSON.stringify(allUsers)%>;
    let currentNamespaceDefaultRoom = <%- JSON.stringify(currentNamespaceDefaultRoom)%>;
  </script>
  <script src="/javascripts/common.js"></script>
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  <script src="/javascripts/customConfirm.js"></script>
  <script src="/javascripts/startVideo.js"></script>
  <script src="/javascripts/videoSetting.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script src="/javascripts/hangup.js"></script>
  <script src="/javascripts/resizeBorder.js"></script>
  <script src="/javascripts/modalPopup.js"></script> 
  <!-- 使用者按下設定相關的 js -->
  <script src="/javascripts/setting.js"></script>
  <script src="/javascripts/toggle.js"></script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/changePage.js"></script>
  <script src="/javascripts/searchRoom.js"></script>
  <script src="/javascripts/changeLanguage.js"></script>
</body>
</html>