<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/userLanguage.css">
</head>
<!-- 載入 FB SDK -->
<script>
  (function (d, s, id) {
    let js; const
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // 初始化
  window.fbAsyncInit = function () {
    FB.init({
      appId: '592358621311422',
      cookie: true,
      xfbml: true,
      version: 'v5.0',
    });

    FB.AppEvents.logPageView();
  };
</script>

<body>
  <div class="scene_background"></div>
  <%- include('./customAlert.ejs'); %>
  <div id=title>
    <p>Chatvas</p>
  </div>
  <div id="login_content">
    <div class="decoration_area">
      <div id="description">Change the way of transnational communication</div>
      <iframe width="630" height="320" src="https://www.youtube.com/watch?v=eNFca8NmyGo" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="function_area">
      <!-- 直接呈現 -->
      <% if (directlyLogin) { %>
        <div class="set_language_avatar_area loginStatus">
          <div id="user_basic">
            <p class="setting_user_name">Hello, <%= name%></p>
            <div id="setting_area">
              <div id="left_avatar_area">
                <img class="user_avatar" src="/images/defaultAvatar.png" alt="">
                <div class="upload_button_box">
                  <input id="customFileInput" type="file" accept="image/*">
                  <label for="customFileInput" class="button-primary">
                    <!-- <img class="icon" src="/images/upload.png" alt=""> -->
                    <span>Upload avatar</span>
                  </label>
                </div>
              </div>
              <div id="right_language_area">
                <p class="userLanguage">preferred language: <%= uiLangauge%></p>
                <div class="select-box">
                  <div class="options-container">
                    <div class="option">
                      <input type="radio" class="radio" id="en" name="language">
                      <label for="en">English</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="zh-TW" name="language">
                      <label for="zh-TW">繁體中文</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="ja" name="language">
                      <label for="ja">Japanese</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="es" name="language">
                      <label for="es">Spanish</label>
                    </div>
                  </div>
                  <div class="selected">
                    <p><%= uiLangauge%></p>
                  </div>
                </div>
              </div>
            </div>
            <input class="enter_button" type="button" value="Enter Chat Page">
          </div>
        </div> 
      <% } else { %> 
        <div class="sign_in_block">
          <p>Get Started</p>
          <div class="sign_in_area">
            <div class="enter_email">
              <input type="text" placeholder="Email Address">
            </div>
            <div class="enter_password">
              <input type="password" placeholder="Password">
            </div>
            <div class="sign_in_button">
              <input class="signin_btn" type="button" value="SIGN IN">
            </div>
          </div>
          <div class="signup_area">
            <p id="not_member_hint">not a member? Just click</p>
            <div class="signup_info">
              <div class="enter_username">
                <input type="text" placeholder="Username">
              </div>
              <div class="enter_email_for_signup">
                <input type="text" placeholder="Email Address">
              </div>
              <div class="enter_password_for_signup">
                <input placeholder="Password" type="password">
              </div>
              <input class="signup_btn" type="button" value="SIGN UP">
            </div>
          </div>
          <div class="horizontal_line"></div>
          <!-- <div class="google_login_area">
              <img src="/images/google.png" alt="">
              <input type="button" value="GOOGLE LOGIN">
            </div> -->
          <div class="facebook_login_area">
            <img src="/images/FB.png" alt="">
            <input type="button" value="FACEBOOK LOGIN">
          </div>
        </div>
        <!-- 把選擇語言跟設定大頭貼放到首頁 -->
        <div class="set_language_avatar_area">
          <div id="user_basic">
            <p class="setting_user_name"></p>
            <div id="setting_area">
              <div id="left_avatar_area">
                <img class="user_avatar" src="" alt="">
                <div class="upload_button_box">
                  <input id="customFileInput" type="file" accept="image/*">
                  <label for="customFileInput" class="button-primary">
                    <!-- <img class="icon" src="/images/upload.png" alt=""> -->
                    <span>Upload avatar</span>
                  </label>
                </div>
              </div>
              <div id="right_language_area">
                <p class="userLanguage"></p>
                <div class="select-box">
                  <div class="options-container">
                    <div class="option">
                      <input type="radio" class="radio" id="en" name="language">
                      <label for="en">English</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="zh-TW" name="language">
                      <label for="zh-TW">繁體中文</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="ja" name="language">
                      <label for="ja">Japanese</label>
                    </div>
                    <div class="option">
                      <input type="radio" class="radio" id="es" name="language">
                      <label for="es">Spanish</label>
                    </div>
                  </div>
                  <div class="selected">
                    <p>Select Language</p>
                  </div>
                </div>
              </div>
            </div>
            <input class="enter_button" type="button" value="Enter Chat Page">
          </div>
        </div>  
      <%} %>
    </div>
  </div>
  <script src="/javascripts/customAlert.js"></script>
  <script src="/javascripts/home.js"></script>
  <script src="/javascripts/userLanguage.js"></script>
  <% if (userId) { %>
    <script type="text/javascript">
      userId = <%- userId %>            
    </script>
  <% } %>
  <% if (JSON.stringify(accessToken)) { %>
    <script type="text/javascript">
      const accessToken = <%- JSON.stringify(accessToken) %>;
      document.cookie = `access_token=${accessToken}`;            
    </script>
  <% } %>
</body>

</html>