<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel='stylesheet' href='/stylesheets/sign.css' />
  <link rel="stylesheet" href="/stylesheets/userLanguage.css">
</head>
<!-- 載入 FB SDK -->
<script>
  (function (d, s, id) {
    let js; const
      fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/zh_TW/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // 初始化
  window.fbAsyncInit = function () {
    FB.init({
      appId: '592358621311422',
      cookie: true,
      xfbml: true,
      version: 'v5.0',
    });

    FB.AppEvents.logPageView();
  };
</script>

<body>
  <%- include('./customAlert.ejs'); %>
  <%- include('./header.ejs'); %>
  <div id="login_content">
    <div class="function_area">
      <!-- 直接呈現 -->
      <% if (directlyLogin) { %>
      <div class="set_language_avatar_area loginStatus">
        <div id="user_basic">
          <p class="setting_user_name">Hello, <%= name%></p>
            <div id="upper_avatar_area">
              <div class="avatar_container">
                <img class="user_avatar" src="/images/defaultAvatar.png" alt="">
                <div class="toggle_camera">
                  <label for="avatarSelection">
                    <img src="/images/camera.png" alt="">
                  </label>
                  <input hidden id="avatarSelection" type="file" accept="image/*">
                </div>
              </div>
              
            </div>
            <div id="lower_language_area">
              <p class="userLanguage">Your preferred language: <%= uiLangauge%></p>
              <div class="select-box">
                <div class="options-container">
                  <div class="option">
                    <input type="radio" class="radio" id="en" name="language">
                    <label for="en">English</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="zh-TW" name="language">
                    <label for="zh-TW">繁體中文</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="ja" name="language">
                    <label for="ja">Japanese</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="es" name="language">
                    <label for="es">Spanish</label>
                  </div>
                </div>
                <div class="selected">
                  <p>Select Language</p>
                  <img id="decoration_arrow" src="/images/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          <input class="enter_button" type="button" value="Enter">
        </div>
      </div>
      <% } else { %>
      <div class="sign_in_block">
        <p>Let's get started</p>
        <% if (presentSigninUI) { %>
        <div class="sign_in_area">
          <div class="enter_email">
            <input type="text" placeholder="Email Address">
          </div>
          <div class="enter_password">
            <input type="password" placeholder="Password">
          </div>
          <div class="sign_in_button">
            <input class="signin_btn" type="button" value="SIGN IN">
          </div>
        </div>
        <a href="">
          <p id="not_member_hint">not a member? Go to register.</p>
        </a>
        <div class="horizontal_line"></div>
        <div class="facebook_login_area">
          <img src="/images/FB.png" alt="">
          <input type="button" value="FACEBOOK LOGIN">
        </div>
        <% } else { %>
        <div class="signup_area">
          <div class="signup_info">
            <div class="enter_username">
              <input type="text" placeholder="Username">
            </div>
            <div class="enter_email_for_signup">
              <input type="text" placeholder="Email Address">
            </div>
            <div class="enter_password_for_signup">
              <input placeholder="Password" type="password">
            </div>
            <a href="">
              <p id="has_already_member">Has an account? Sign in now.</p>
            </a>
            <input class="signup_btn" type="button" value="SIGN UP">
          </div>
        </div>
        <% } %>
      </div>
      <!-- 把選擇語言跟設定大頭貼放到首頁 -->
      <div class="set_language_avatar_area">
        <div id="user_basic">
          <p class="setting_user_name"></p>
          
            <div id="upper_avatar_area">
              <div class="avatar_container">
                <img class="user_avatar" src="" alt="">
                <div class="toggle_camera">
                  <label for="avatarSelection">
                    <img src="/images/camera.png" alt="">
                  </label>
                  <input hidden id="avatarSelection" type="file" accept="image/*">
                </div>
              </div>
            </div>
            <div id="lower_language_area">
              <p class="userLanguage"></p>
              <div class="select-box">
                <div class="options-container">
                  <div class="option">
                    <input type="radio" class="radio" id="en" name="language">
                    <label for="en">English</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="zh-TW" name="language">
                    <label for="zh-TW">繁體中文</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="ja" name="language">
                    <label for="ja">Japanese</label>
                  </div>
                  <div class="option">
                    <input type="radio" class="radio" id="es" name="language">
                    <label for="es">Spanish</label>
                  </div>
                </div>
                <div class="selected">
                  <p>Select Language</p>
                  <img id="decoration_arrow" src="/images/arrow-down.svg" alt="">
                </div>
              </div>
            </div>
          
          <input class="enter_button" type="button" value="Enter">
        </div>
      </div>
      <%} %>
    </div>
  </div>
  <script src="/javascripts/customAlert.js"></script>
  <script src="/javascripts/sign.js"></script>
  <script src="/javascripts/userLanguage.js"></script>
  <% if (userId) { %>
  <script type="text/javascript">
    userId = <%- JSON.stringify(userId) %>;            
  </script>
  <% } %>
  <% if (JSON.stringify(accessToken)) { %>
  <script type="text/javascript">
    const accessToken = <%- JSON.stringify(accessToken) %>;
    document.cookie = `access_token=${accessToken}`;            
  </script>
  <% } %>
</body>

</html>